[Unit]
Description=Java Spring Boot Vegetable Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/fruits-veg_market/java
ExecStart=/usr/bin/java -jar /home/ec2-user/fruits-veg_market/java/target/produce-app-0.0.1-SNAPSHOT.jar --server.port=8080
Restart=always
RestartSec=5
StandardOutput=append:/home/ec2-user/veg_log.txt
StandardError=append:/home/ec2-user/veg_log.txt

[Install]
WantedBy=multi-user.target